body{
  background-color: #0d1321;
}
h1{
  color: #fae22f;
  font-size: 6em; 
  padding-top: 12%;
  margin-left: 15%;
}
h2{
  font-size: 2em;
  color: #fae22f;
  margin-left: 15%;

}
.error img{
  padding: 5%;
  margin-left: 4%;
  float: left;
  height: 260px;
  width: 200px;
  margin-top:10%;   
}
.abs p{
color: #fae22f;
font-size: 1.5em;
font-family: Verdana;
text-align: center;
}